@import 'tailwindcss';

@theme {
  --color-primary: #805610;
  --color-primary-container: #ffddb4;
  --color-dim: #887587;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    font-family: 'Pretendard', sans-serif;
  }
}
